@import "../../node_modules/bootstrap/scss/bootstrap.scss";


body{
    margin: 0;

header{
    width: 100%;
    height: auto;
}

nav{
    z-index: 1;
}

.li-nav{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.li-nav:hover{
    background: red;
}

.nav-link{
    width: 100px;
    text-transform: uppercase;
    font-size: 12px;
}


.imgnav{
    width: 6%;
    height: 6%;
}


.carou{
    top: 0;

    .d-block{
        filter: brightness(50%);
        height: 100vh;
    }

    .carousel-indicators li{
        width: 1em;
        height: 1em;
        border-radius:100%;
    }

    .carousel-indicators .active{
        width: 0.5em;
        height: 0.5em;
        border: double 6px white;
        margin-top: 8px;
    }


.carousel-caption{
    top: 22%;
    bottom: auto;
}
}
}

.what{
    font-size: 40px;
    font-family: 'Courgette', cursive;
}

.bigtaste{
    font-size: 40px;
    font-family: 'Courgette', cursive;
}
.occasion{
    text-transform: uppercase;
    font-size: 50px;
}

.taste{
    text-transform: uppercase;
    color: red;
    font-size: 50px;
}

.make{
    font-size: 65px;
}

.remember{
    font-size: 60px;
}




.btnt{
    margin-top: 70px;
    height: 40px;
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}
.bt1{
    background: white;
    height: 30px;
    width: 180px;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
}

.bt2{
    background: red;
    height: 30px;
    width: 160px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 30px;
}



.croc{
    position: absolute;
    background: url(../../chef/images/bottom_decoration_img.png);
    width: 100%;
    height: 15px;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.section1{
    background: url(../../chef/images/main_bg.jpg);
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backsec1{
    position: relative;
    background: white;
    width: 85%;
    height: 90%;
}

.hg{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width:10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hd{
    position: absolute;
    top: 0;
    right: 0;
    height: 10%;
    width:10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width:10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bd{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 10%;
    width:10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.tt, .ttt, .tttt, .ttttt{
    position: absolute;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.h3{
    font-family: 'Courgette', cursive;
    font-size: 40px;
}

.our{
    color: red;
    font-size: 50px;
}
.bash{
    width: 300px;
    height: 20px;
}

.bash3{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.lep{
    position: absolute;
    top: 11%;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p{
    margin-top: 40px;
    text-align: center;
}

.ttt{
    top: 30%;
}



.r1{
    position: absolute;
    left: 3%;
    top: 43%;
}

.aa{
    font-family: 'Courgette', cursive;
    font-size: 20px;
}

.list-group{
    height: 400px;
    width: 200px;
}

.d1{
    border-bottom: 2px solid lightgray;
    border-right: 2px solid lightgray;
    height: 400px;
    margin-top: 20px;
}
.d11{
    border-right: 4px solid red;
    border-bottom: 2px solid lightgray;
}


.cc{
    height: 90%;
    width: 40%;
    
}

.brol{
    height: 100px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ii{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.c{
    margin-left: 25px;
    margin-top: 20px;
}

.tit{
    font-size: 16px;
}

.para{
    font-size: 13px;
    width: 250px
}


.prx{
    width: 50px;
    height: 20px;
    background-color: lightgray;
    text-align: center;
}

.prix{
    margin: 2px;
    color: red;
}


.section2{
    background: url(../../chef/images/team_background.jpg);
    width: 100%;
    height: 500px;
}

.chefs{
    margin-top: 10px;
}

.c1{

    margin-top: 160px;
    width: 70%;
    height: 60%;
    border-bottom: 1px solid lightgray;
}

.h3a{
    font-family: 'Courgette', cursive;
    font-size: 40px;
    color: white;
}

.hb{
    font-size: 12px;
    color: white;
}

.ttca{
    width: 100%;
    height: 100%;
}

.section3{
    background: url(../../chef/images/main_bg.jpg);
    width: 100%;
    height: 1900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backsec2{
    position: relative;
    background: white;
    width: 85%;
    height: 90%;
}

.hg2{
    position: absolute;
    top: 0;
    left: 0;
    height: 7%;
    width:9%;
    background-size: cover;
    background-repeat: no-repeat;
}

.hd2{
    position: absolute;
    top: 0;
    right: 0;
    height: 7%;
    width:9%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 7%;
    width:9%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bd2{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 7%;
    width:9%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fofo{
    position: relative;
    background: url(../../chef/images/book_table_bg.jpg);
    width: 75%;
    height: 40%;
    top: 10%;
    left: 50%;
    margin-left: -37.5%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.form{
    position: relative;
    width: 75%;
    height: 40%;
    top: 20%;
    left: 50%;
    margin-left: -37.5%;
}

.form-control{
    margin-top: 90px;
    width: 100%;
    margin: 25px;
    border-radius: 15px;
}

.forme{
    margin-top: 100px;
}

.h4{
    position: relative;
    top: 50px;
    color: white;
    font-size:19px;
}

.btn1{
    position: relative;
    width: 130px;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    height: 50px;
    background: red;
    color: white;
    text-align: center;
}

.b{
    position: relative;
    top: 180px;
}

.ttttt{
    position: relative;
    top: 12%;
}

.lolo{
    position: relative;
    top: 16%;
    width: 100%;
}

.lol{
    top: 20%;
    width: 40%;
    
}

.chicken{
    width: 100%;
    height: 70%;
    background-size: cover;
    border: 6px solid lightgray;
    border-radius: 15px;
}

.ladiv{
    position: relative;
    background: red;
    color: white;
    top: -25px;
    left: 7.5%;
    width: 85%;
    height: 15%;
    font-size: 23px;
    border-radius:15px;
}

.light{
    font-weight: lighter;
}

.lor{
    position: relative;
    left: 5%;
}

.bb{
    position: relative;
    top: 100px;
}

.section4{
    background: url(../../chef/images/testimonials_background.jpg);
    width: 100%;
    height: 400px;
}

.lett{
    position: relative;
    top: 100px;
    color: white;
}

.imgfemme{
    width: 90%;
    height: 90%;
    border-radius: 100%;
    border: 4px solid white;
}

.femme{
    width: 70%;
    height: 70%;
}

.txtt{
    border: 2px solid  white;
    border-radius: 15px;
    color: white;
    padding: 15px;
}

.loremoo{
    color: red;
}